.colours {
  &_blue {
    background-color: $blue;
  }

  &_yellow {
    background-color: #e6d23e;
  }

  &_green {
    background-color: #76bf31;
  }

  &_red {
    background-color: #e51f39;
  }

  &_purple {
    background-color: #6644cf;
  }
}